#sec-07-08 {
  padding-top: 5.9rem;
  padding-bottom: 6rem;
  background-color: #41a7e7;
}

.sec-07__title {
  font-family: Pfd;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  margin-bottom: .3rem;
}

.sec-07__description {
  font-family: GothaB;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

#sec-07-08 > .container-fluid .row [class*=col-]:first-of-type {
  margin-bottom: 4.5rem;
}

// SLIDER
.sec-07__text-block {
  color: #fff;
  margin-bottom: 3.2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-07__text-title {
  font-family: GothaB;
  font-size: pxToRem(20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .8rem;
}

.sec-07__text-description {
  font-family: GothaR;
  text-align: center;
  width: 87%;
  margin: auto;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .sec-07__list {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-07-08 {
    padding-top: 10.5rem;
    padding-bottom: 9.6rem;
    background-image: url("img/sec-08/bg-md.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  #sec-07-08 > .container-fluid .row [class*=col-]:first-of-type {
    margin-bottom: 5.8rem;
  }

  .sec-07__slider.owl-carousel{
    display: none;
  }

  .sec-07__title {
    font-size: pxToRem(44px);
  }

  .sec-07__description {
    line-height: 1.3;
  }

  .sec-07__list {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.3rem;
    justify-content: space-between;
  }

  .sec-07__list-item {
    width: 48%;
    margin-bottom: 3.7rem;
    &:first-of-type {
      padding-right: 2rem;
    }
    &:nth-of-type(3) {
      padding-right: 2rem;
    }
  }

  .sec-07__text-title {
    text-align: left;
  }

  .sec-07__text-description {
    width: 91%;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  #sec-07-08 {
    padding-top: 10.6rem;
    padding-bottom: 11.3rem;
    background-image: url("img/sec-08/bg-lg.png");
  }

  .sec-07__list {
    padding-left: 1.5rem;
  }

  .sec-07__list-item:first-of-type, .sec-07__list-item:nth-of-type(3) {
    padding-right: 0;
  }

  .sec-07__list-item {
    width: 32.6%;
    &:nth-child(n+2) {
      padding-left: 2.5rem;
    }
    &:nth-child(4) {
      padding-left: 0;
    }
  }

  .sec-07__text-description {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  #sec-07-08 {
    background-image: url("img/sec-08/bg-xl.png");
    padding-bottom: 10.7rem;
  }

  .sec-07__title {
    padding-left: 1rem;
  }

  .sec-07__list {
    padding-left: .3rem;
    justify-content: flex-start;
  }

  .sec-07__text-description {
    width: 83%;
  }

  .sec-07__list-item {
    width: 31%;
  }

  .sec-07__list-item:nth-child(2) {
    margin-right: 2.4rem;
  }

  .sec-07__list-item:nth-child(5) {
    margin-right: 2.4rem;
  }

  .sec-07__list-item:nth-child(5) .sec-07__text-description {
    width: 89%;
  }

  .sec-07__list-item:nth-child(1) .sec-07__text-description {
    width: 71%;
  }
}
