#sec-07 {
  padding-top: 5.9rem;
  padding-bottom: 3rem;
  background-color: #41a7e7;
}

.sec-07__title {
  font-family: Pfd;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  margin-bottom: .3rem;
}

.sec-07__description {
  font-family: GothaB;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

#sec-07 .row [class*=col-]:first-of-type {
  margin-bottom: 4.5rem;
}

// SLIDER
.sec-07__text-block {
  color: #fff;
  margin-bottom: 3.2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-07__text-title {
  font-family: GothaB;
  font-size: pxToRem(20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .8rem;
}

.sec-07__text-description {
  font-family: GothaR;
  text-align: center;
  width: 87%;
  margin: auto;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .sec-07__list {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-07 {
    padding-top: 10.5rem;
  }

  #sec-07 .row [class*=col-]:first-of-type {
    margin-bottom: 5.8rem;
  }

  .sec-07__slider.owl-carousel{
    display: none;
  }

  .sec-07__title {
    font-size: pxToRem(44px);
  }

  .sec-07__description {
    line-height: 1.3;
  }

  .sec-07__list {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.3rem;
    justify-content: space-between;
  }

  .sec-07__list-item {
    width: 48%;
    margin-bottom: 3.7rem;
    &:first-of-type {
      padding-right: 2rem;
    }
    &:nth-of-type(3) {
      padding-right: 2rem;
    }
  }

  .sec-07__text-title {
    text-align: left;
  }

  .sec-07__text-description {
    width: 91%;
    text-align: left;
    margin: 0;
  }
}
