#sec-05 {
  padding-top: 3.3rem;
  padding-bottom: 2rem;
}

.sec-05__title {
  font-family: Pfd;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.sec-05__paragraph {
  font-family: GothaR;
  line-height: 1.5;
  &:nth-child(2) {
    margin-bottom: 1rem;
  }
}

.sec-05__paragraph-span {
  font-family: GothaB;
}

#sec-05 .row [class*=col-]:first-of-type {
  margin-bottom: 2.2rem;
}

@media (min-width: 768px) {
  #sec-05 {
    padding-top: 4.7rem;
  }

  #sec-05 .row [class*=col-]:first-of-type {
    margin-bottom: 0;
  }

  .sec-05__title {
    font-size: pxToRem(44px);
    margin-bottom: 1.4rem;
  }

  .sec-05__paragraph {
    &:last-child {
      padding-right: .5rem;
    }
  }

  .sec-05__picture {
    display: block;
    padding-top: .6rem;
  }
}

@media (min-width: 1024px) {
  .sec-05__picture {
    padding-left: 1.5rem;
  }

  .sec-05__content-container {
    padding-top: 2.7rem;
  }

  .sec-05__paragraph:nth-child(2) {
    padding-right: 2rem;
  }

  .sec-05__paragraph:last-child {
    padding-right: .6rem;
  }
}

@media (min-width: 1920px) {
  .sec-05__picture {
    padding-left: .4rem;
    padding-top: .7rem;
  }

  .sec-05__content-container {
    padding-top: 5.4rem;
    padding-left: .4rem;
  }

  .sec-05__paragraph:nth-child(2) {
    padding-right: 3rem;
  }
}
