#terms {
  background-color: #121212;
  padding: 1.1rem 0 1.3rem 0;
}

.terms__item {
  text-align: center;
}

.terms__link {
  white-space: nowrap;
  display: block;
  text-align: center;
  font-family: GothaR;
  font-size: 12px;
  text-decoration: none;
  color: #999999;
  line-height: 1.5;
  transition: color .5s linear;
  margin-right: 0;
  cursor: pointer;
  &:hover {
    color: rgb(179, 156, 114);
  }
  &:nth-child(3) {
    margin-bottom: 1rem;
  }
}

#terms .logo {
  width: 1.8rem;
  fill: #fff;
}

#terms .rezart-logo {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  #terms {
    padding: .85rem 0;
  }

  .terms__container-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .5rem;
  }

  .terms__link {
    margin-right: 1.8rem;
  }

  .terms__link:nth-child(3) {
    margin-bottom: 0;
    margin-right: 11.2rem;
  }
}

@media (min-width: 1200px) {
  #terms {
    padding: .6rem 0;
  }

  .terms__container-item {
    width: 53.7%;
    justify-content: space-between;
    align-items: center;
  }
}
