.menu-logo {
  width: 25px;
  height: 32px;
  fill: #fff;
}

.close-logo {
  width: 15px;
  height: 25px;
  fill: #fff;
}

.hamburger{
  background:none;
  position:absolute;
  top: 1.4%;
  right: 5%;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top: 1.9%;
  right: 6.5%;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

#sec-01 .menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #41a7e7;
  z-index: 1;
  padding: 2.3rem 0;
}

.menu_paragraph {
  font-family: TinkovEB;
  font-size: pxToRem(16px);
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
}
