.menu-logo {
  width: 25px;
  height: 32px;
  fill: #fff;
}

.close-logo {
  width: 18px;
  height: 25px;
  fill: #fff;
}

.hamburger{
  background:none;
  position:absolute;
  top: 1.4%;
  right: 5%;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top: 2.4%;
  right: 5%;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

#sec-01 .menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #41a7e7;
  z-index: 2;
  height: 28.2rem;
}

.menu__list {
  list-style: none;
}

.menu__item {
  text-align: center;
  line-height: 2.2;
}

.menu__link {
  font-family: GothaB;
  text-decoration: none;
  color: #fff;
}

.menu__contact-container {
  font-family: GothaB;
  color: #fff;
}

.menu__contact-container {
  margin-bottom: 1.6rem;
  margin-top: 5.1rem;
}

.menu__mail {
  letter-spacing: .2px;
  margin-top: .8rem;
}

.menu__tel {
  letter-spacing: .8px;
}

.menu .logo-container {
  position: absolute;
  top: 4%;
  left: 5.4%;
  width: pxToRem(44px);
}
